// Define variables for your color scheme

// For example:
$red: #9d0208;
$yellow: #FFC65A;
$orange: #e85d04;
$green: #218380;
$blue: #0077b6;
$tan: #fdf0d5;
$dark-blue: #001d3d;
$black-blue: #001524;
$black: black;
$light-gray: #8d99ae;
$mint-green: #c9f3f4;
$white: #ffffff;
$box-shadow-black: rgba(0,0,0,0.2);
