// Import page-specific CSS files here.
@import "home";

.bottom-info {
  display: flex;
  justify-content: space-between;
}

.show-buttons-div {
  display: flex;
  justify-content: end;
  padding: 10px;
  margin-top: 20px;
}
