.btn-flat {
  color: $white;
  padding: 8px 24px;
  border-radius: 4px;
  background: $dark-blue;
  transition: background 0.3s ease;
}

.btn-flat:hover {
  background: $blue;
  color: $white;
}

.btn-flex-end {
  display: flex;
  justify-content: flex-end;
}
